"*":
  "atom-beautify":
    general:
      _analyticsUserId: "10b8ed1f-191b-43a1-a0f2-167b39047479"
    js:
      break_chained_methods: true
  autosave:
    enabled: true
  core:
    destroyEmptyPanes: false
    disabledPackages: [
      "jshint"
    ]
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  editor:
    fontFamily: "Source Code Pro"
    invisibles: {}
    showIndentGuide: true
  "exception-reporting":
    userId: "0bfae3e1-c297-dbc0-ba01-fea6bac2d882"
  jshint:
    supportLintingJsx: true
  "language-babel":
    autoIndentJSX: true
  linter: {}
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    fixOnSave: true
  minimap: {}
  "nuclide-flow":
    diagnosticsOnFly: true
    enableStructuredTypeHints: true
  "one-dark-ui":
    layoutMode: "Compact"
  "seti-syntax":
    themeColor: "Yellow"
  "seti-ui":
    compactView: true
    font: "Default Atom Font"
    themeColor: "Yellow"
  tabs:
    enableVcsColoring: true
    usePreviewTabs: true
  "tree-view": {}
  welcome:
    showOnStartup: false
".ini.source":
  editor:
    showInvisibles: false
